<div ng-controller="myController" class="pagemargin textcenter">
    <h1 class="colorText">About</h1>
    <video preload="auto" muted ng-src={{url}} height="50%" width="50%" id="video">
    </video>
    <div class="videocontrols">
        <div ng-click="vplay()"><i class="fa fa-regular fa-play"></i></div>
        <div ng-click="vpause()"><i class="fa fa-light fa-pause"></i></div>
        <div ng-click="vbackward()"><i class="fa fa-regular fa-backward"></i></div>
        <div ng-click="vforward()"><i class="fa fa-regular fa-forward"></i></div>
        <div ng-click="vrestart()"><i class="fa fa-solid fa-rotate-right"></i></div>
    </div>
    <p class="textcenter blogcontent" style="margin: 0 9rem; text-align: left;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed ipsum interdum augue egestas lacinia. Nunc
        finibus elit vitae nulla efficitur feugiat. Phasellus non porttitor tortor, quis condimentum lorem. Morbi
        egestas justo vestibulum purus auctor, et efficitur odio bibendum. Duis dictum bibendum mollis. Aenean
        sollicitudin lectus a lectus egestas condimentum. Sed et nisi non purus ultricies eleifend.
        <br><br>
        Praesent est ante, imperdiet non sapien sed, congue pretium nisl. Curabitur quam magna, gravida accumsan metus
        vel, porttitor rutrum neque. Sed eros urna, ullamcorper ac ante vel, maximus malesuada augue. Nunc finibus
        ullamcorper nisi id dapibus. Donec in ex a tortor tincidunt gravida sed sit amet purus. Mauris elementum mi id
        mauris mattis dictum. Etiam tincidunt lorem id dui finibus pretium at at urna. Etiam quis ante sed risus tempus
        egestas vel vel ex. Quisque ipsum dui, mattis ut justo ac, lacinia pretium mauris. Etiam luctus tortor a risus
        lacinia posuere. Cras sed nunc maximus, fringilla dui at, facilisis ligula.
        <br><br>
        Sed sagittis risus pulvinar justo dictum rhoncus elementum sit amet lorem. Praesent vehicula risus sed nunc
        imperdiet, ac semper lorem elementum. Nam imperdiet ex eu dapibus dictum. Duis ut dapibus ante. Praesent non
        volutpat tortor. Aenean dictum scelerisque ipsum sed consequat. Nunc tempus interdum nunc, eu accumsan felis.
        Nullam vestibulum mi elementum, fermentum mi at, dignissim dui. Aliquam non sem a nulla pellentesque tincidunt
        in sit amet neque. Proin tincidunt nulla leo, eu dictum urna molestie ut. Nunc cursus et lectus quis iaculis.
        Pellentesque tincidunt velit quis ultrices cursus.
        <br><br>
        Quisque enim dui, rhoncus eu leo vel, dictum tempor elit. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Curabitur arcu nibh, tincidunt nec lacinia nec, efficitur a nisl.
        Curabitur elit lorem, eleifend at bibendum quis, interdum ut erat. Morbi egestas risus ante, id accumsan sem
        tincidunt vitae. Nullam scelerisque purus vitae aliquam luctus. Duis laoreet cursus dui eu volutpat. Donec
        ornare odio dictum felis commodo varius.
        <br><br>
        Donec rhoncus pulvinar tellus quis varius. In hac habitasse platea dictumst. Cras nec tempor leo. Quisque nec
        quam ac risus pulvinar facilisis nec ut felis. Etiam et dictum augue. Nunc hendrerit massa mi, non dictum lorem
        condimentum nec. Pellentesque id erat congue, posuere ante non, molestie enim. Aliquam non metus sit amet arcu
        egestas volutpat. Proin tellus orci, molestie vel ante sed, consequat interdum lorem. Morbi dapibus libero nec
        pellentesque vulputate. Nulla tincidunt efficitur mauris non malesuada.
    </p>

</div>