<div class="form">
    <form action="http://localhost:3000/update" name="blogpost" method="post">

        <label for="oldtitle">Enter Title of post to be modified: </label>
        <input type="text" name="oldtitle" id="oldtitle" ng-model="oldtitle">
        <br>
        <label for="newtitle">Enter Modified Title:  </label>
        <input type="text" name="newtitle" id="newtitle" ng-model="newtitle">
        <br>
        <br>
        <input class="btn" type="submit" value="UPDATE POST">
    </form>
</div>